/* Global styles */

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
}