/* Header styles */

.header {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    width: calc(100% - 40px);
    background-color: #11999e;
    color: #ffffff;
}

.newButton {
    border: none;
    border-radius: 25px;
    padding: 0 20px;
    height: 50px;
    background: rgb(17, 153, 158);
    background: linear-gradient(
        90deg,
        rgb(36, 186, 166) 0%,
        rgba(48, 227, 202, 1) 100%
    );
    cursor: pointer;
    font-size: 20px;
    transition: opacity 0.2s;
}

.newButton:hover {
    opacity: 0.7;
    transition: opacity 0.2s;
}