/* Styles for table */

/* General styles */
.table {
    margin: 10px;
    border-collapse: collapse;
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
}

.table th {
    padding: 10px 5px;
}

.table td {
    border-top: solid 0.5px #efefef;
    padding: 10px 5px;
}

/* Table header */
.header {
    color: #b0b0b0;
    font-size: 12px;
}

/* Contact name */
.contactContainer {
    display: flex;
    height: 66px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: "HelveticaNeue", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
}

.avatarContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.avatar {
    border-radius: 16px;
    height: 32px;
}

/* Contact info */
.contactInfo {
    font-size: 12px;
}

/* Status */
.statusActive, 
.statusInactive {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.statusInactive {
    background-color: #ff6262;
    color: #ffffff;
}

.statusActive {
    background-color: #9dff79;
    color: #ffffff;
}

/* Project */
.projectContainer {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-family: "HelveticaNeue", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
}